:root {
    --major-font-family: ;
    
    --primary-color: #000;
    --secondary-text-color: #545454;
    --dark-theme-text-color: #fff;
    --accent-color: #FF6B08;

    --background-color_bright-theme: #F7F7F7;

    --duration: 300ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}