<section class="film-list-section">
    <div class="container container-main">
        <div class="message-wrapper">
        <p class="empty-message">You can add movies to "Watch" of "Queue" from Home page.
            Now you haven't added any movies.</p>
        </div>
        <div class="film-grid">
            <!-- сюди будемо динамічно вставляти картки фільмів -->
        </div>
        <div class="list" id="list"></div>
        <div class="page-numbers" id="pagination"></div>
    </div>
</section>