<header class="library-header">
    <div class="container container_header">
        <div class="header-line">
        <a href="./index.html"> <div class="logo">
               <svg class="logo-icon" width="40" height="40">
                    <use href="./images/sprite.svg#icon-film"></use>
                </svg>
                <h1 class="logo-text">Filmoteka</h1>
            </div>
        </a>    
            <nav class="nav">
                <ul class="list nav-list">
                    <li class="nav-item">
                        <a class="nav__link link" href="./index.html">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link link interactive current-page " href="./my_library.html">my library</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="button_list">
           <button class="my-lib-header-button">WATCHED</button>
           <button class="my-lib-header-button">QUEUE</button>
        </div>
    </div>
</header>