    <footer>
        <div class="footerModal">
            <h3 class="footerHeadline">Worked on a project:</h3>
            <ul class="teamList">
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">

                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" src="" alt="">
                    <div class="">
                
                    </div>
                </li>
            </ul>
        </div>
    </footer>
