
        <div class="footerModal is-hidden" data-modal-team>
            <h3 class="footerHeadline">Worked on the project:</h3>
            <button type="button" class="modal__close-btn-team" data-modal-close-team>
            </button>
            <ul class="teamList">
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/97597653?v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Team lead</p>
                        <p class="teamName">Peter Yurich</p>
                        <!-- <ul class="github">
                            <li class="githab__link"> -->
                                <a href="https://github.com/PeterYurich" target="_blank" class="city">
                                    <svg class="githab__icon" width="20" height="20">
                                        <use href="./images/sprite.svg#icon-github">

                                        </use>
                                    </svg>
                                </a>
                            <!-- </li>
                        </ul> -->
                        <!-- <p class="city">Dnipro</p> -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/93533516?v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Scrum master</p>
                        <p class="teamName">Tetiana Ishchenko</p>
                        <!-- <ul class="github">
                            <li class="githab__link"> -->
                        <a href="https://github.com/TanichkaIs" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                            </ul> -->
                        <!-- <p class="city">Kyiv</p> -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/97792710?v=4" 
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Developer</p>
                        <p class="teamName">Evgen Prohorenko</p>
                        <!-- <ul class="github">
                                <li class="githab__link"> -->
                        <a href="https://github.com/YevhenProkhorenko" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                                </ul> -->
                        <!-- <p class="city">Kyiv</p> -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/97344472?v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Developer</p>
                        <p class="teamName">Alona Beskhlibnova</p>
                        <!-- <ul class="github">
                                <li class="githab__link"> -->
                        <a href="https://github.com/abeskhlibnova" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                                </ul> -->
                        <!-- <p class="city">Odesa</p> -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/97482927?v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Developer</p>
                        <p class="teamName">Miroslav Semenuk</p>
                        <!-- <ul class="github">
                                <li class="githab__link"> -->
                        <a href="https://github.com/myrsem" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                                </ul> -->
                        <!-- <p class="city">Kyiv</p> -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/99369016?v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Developer</p>
                        <p class="teamName">Mikhailo Korogod</p>
                        <!-- <ul class="github">
                                <li class="githab__link"> -->
                        <a href="https://github.com/MickKorogod" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                                </ul> -->
                        <!-- <p class="city">Kyiv</p> -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/97561552?s=400&u=95d42ab96a1fd812b523d15edba99c985cd13104&v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Developer</p>
                        <p class="teamName">Lyuda Golembovska</p>
                        <!-- <ul class="github">
                                <li class="githab__link"> -->
                        <a href="https://github.com/Golembovskaya" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                                </ul> -->
                        <!-- <p class="city">Kyiv</p> -->
                        <!-- <a href="https://github.com/Golembovskaya" -->
                    </div>
                </li>
                <li class="teamCard">
                    <img class="cardFront" 
                        src="https://avatars.githubusercontent.com/u/96379129?v=4"
                        alt="" width="256" height="256">
                    <div class="cardRear">
                        <p class="teamRoles">Developer</p>
                        <p class="teamName">Natalia Kolomiichenko</p>
                        <!-- <ul class="github">
                                <li class="githab__link"> -->
                        <a href="https://github.com/NataliiaKolomiichenko" target="_blank" class="city">
                            <svg class="githab__icon" width="20" height="20">
                                <use href="./images/sprite.svg#icon-github">
                        
                                </use>
                            </svg>
                        </a>
                        <!-- </li>
                                </ul> -->
                        <!-- <p class="city">Kyiv</p> -->
                    </div>
                </li>
            </ul>
        </div>
        
  
        
    
