// body.footerModal {
//     overflow: hidden;
// }
.footerModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: var(--background-color_modal-footer);
  //background-position: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}


@media screen and (min-width: 320px) {
  .cardFront {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .cardFront {
    width: 153px;
    height: 153px;
  }

  .footerHeadline {
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  // .cardFront {
  //   width: 256px;
  //   height: 256px;
  // }

  .footerHeadline {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  .teamCard {
    min-width: 300px;
  }
}

.footerHeadline {
  display: inline;
  //color: var(--dark-theme-text-color);
  margin: 0;
  margin-bottom: 40px;
  margin-top: 20px;



  color: var(--secondary-text-modal-color);
  font-weight: 100;
  //font-size: 50px;
  line-height: 30px;
}

.teamList {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  width: 90%;
  //column-count: 3;
  gap: 30px;
  list-style: none;
  overflow-x: hidden;
}

.teamName,
.teamRoles,
.city {
  color: var(--secondary-text-modal-color);
  justify-content: center;
  align-items: center;
  display: flex;
}


.teamRoles {
  font-size: 20px;
  margin-bottom: 10px;
}
.teamName{
  margin-bottom: 10px;
}
.cardFront {
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  -o-object-fit: cover;
  object-fit: cover;

  background-color: var(--dark-theme-text-color);
}

.cardRear {
  padding: 10px 5px 10px 5px;
}

.is-hidden {
  visibility: hidden;
  position: fixed;
  top: 200%;

  height: 0%;

  background-color: transparent;

  .teamCard {
    list-style: none;
    height: 0px;
    //position: relative;
  }
}

.teamCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .githab__icon {
    fill: var(--dark-theme-text-color);

    &:hover {
      opacity: 0.5;
    }
  }
}

.modal__close-btn-team {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0;
  background-image: url(/src/images/close-btn.svg);
  background-size: contain;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.hidden {
  overflow: hidden;
}