.footerModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: var(--background-color_modal-footer);
  background-size: contain;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  width: 100%;
  height: 100%;
  transition: opacity 500ms var(--timing-function), visibility 500ms var(--timing-function);
}
.teamSection1,
.teamSection2,
.teamSection3 {
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}

.cardRear {
margin-top: 10px;
}


@media screen and (min-width: 320px) {
  .cardFront {
    width: 120px;
    height: 120px;
  }

  .footerHeadline {
    //font-size: 30px;
    font-style: var(--modal-tile-style);
  }
  .modal__close-btn-team {
    width: 30px;
    height: 30px;
  }
 
}

@media screen and (min-width: 768px) {
  .cardFront {
    width: 153px;
    height: 153px;
  }

  .footerHeadline {
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {

  .footerHeadline {
    font-size: 40px;
    font-style: var(--modal-tile-style);
  }
}

@media screen and (max-width: 320px) {
  .teamCard {
    min-width: 300px;
  }
  .teamSection1,
  .teamSection2,
  .teamSection3 {
    display: block;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
   }
  .modal__close-btn-team {
  width: 30px;
  height: 30px;
  }
}

.footerHeadline {
  display: inline;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;


  color: var(--secondary-text-modal-color);
  font-weight: 100;
  line-height: 30px;
  font-style: var(--modal-title-style);
}

.teamList {
  justify-content: center;
  align-items: center;
  //display: flex;
  display: block;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  width: 90%;
  gap: 30px;
  list-style: none;
  overflow-x: hidden;
}


.teamName,
.teamRoles,
.city {
  color: var(--secondary-text-modal-color);
  justify-content: center;
  align-items: center;
  display: flex;
  font-style: var(--modal-fond-family);
}


.teamRoles {
  font-size: 20px;
  margin-bottom: 10px;
}
.gitAndName{
  display: flex;
 
}
.teamName{
  margin-left: 10px;
  //line-height: 1.2;

}
.cardFront {
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  -o-object-fit: cover;
  object-fit: cover;

  background-color: var(--dark-theme-text-color);
}

.cardRear {
  padding: 5px 5px 10px 5px;
}

.is-hidden {
  visibility: hidden;
  position: fixed;
  top: 200%;

  height: 0%;

  background-color: transparent;

  .teamCard {
    list-style: none;
    height: 0px;
  }
}

.teamCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .githab__icon {
    fill: var(--dark-theme-text-color);

    &:hover {
      opacity: 0.5;
    }
  }
}

.teamCard:focus,
.teamCard:hover {
  transform: scale(1.2);
   box-shadow: rgba(224, 218, 218, 0.1);
}

.modal__close-btn-team {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0;
  background-image: url(/src/images/close-btn.svg);
  background-size: contain;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.hidden {
  overflow: hidden;
}