.card-info__title {
  color: var(--primary-color);
}

.card-info__genre {
  color: var(--accent-color);
}

.info-separator::before {
  position: absolute;
  top: 0;
  right: -5px;
  content: '';
  width: 2px;
  height: 100%;
  border: 1px solid var(--accent-color);
}

// mob responsive
@media screen and (max-width: 319px) {
.photo-card {
  width: 100%;
  padding-top: 20px;
}
}

// tablet
@media screen and (min-width: 768px) {
  .photo-card__link {
    margin-bottom: 8px;
  }
  .photo-card-img {
    height: 497px;
  }
  .card-info {
    @include font(500, 12, 16);
  }
}

// desktop
@media screen and (min-width: 1280px) {
  .photo-card__link {
    margin-bottom: 12px;
  }

  .photo-card-img {
    height: 589px;
  }

  .card-info {
    @include font(500, 20, 24);
  }
}
