.photo-card-img {
  border-radius: 5px;
  margin-bottom: 8px;
}
.card-info {
  @include font(500, 12, 14);
  color: var(--accent-color);
}
.card-info__title {
  color: var(--primary-color);
  margin-bottom: 5px;
}

.card-info__genre {
  color: var(--accent-color);
}

.release-date {
  padding-left: 5px;
  border-left: 2px solid var(--accent-color);
}

.film-rating {
  display: inline-block;
  width: 36px;
  height: 16px;
  text-align: center;

  border: 1px solid var(--accent-color);
  background: var(--background-accent-color);
  border-radius: 5px;
  color: var(--accent-text-color);
}

// mob adaptive
@media screen and (max-width: 767px) {
  .photo-card {
    margin-bottom: 20px;
  }
  .card-info {
    @include font(500, 12, 14);
  }
}

// tablet
@media screen and (min-width: 768px) {
  .photo-card {
    width: 336px;
  }
  .card-info {
    @include font(500, 12, 16);
  }
}

// desktop

@media screen and (min-width: 1280px) {
  .photo-card {
    width: 395px;
  }

  .photo-card-img {
    margin-bottom: 12px;
  }

  .card-info {
    @include font(500, 20, 24);
  }
  .film-rating {
    width: 40px;
    height: 20px;
    @include font(500, 12, 22);
  }
}
