.photo-card {
  border-radius: 5px;
}
.card-info {
  @include font(500, 12, 14);
  color: var(--accent-color);
}
.card-info__title {
  color: var(--primary-color);
}

.card-info__genre {
  color: var(--accent-color);
}
.release-date {
  padding-left: 5px;
  border-left: 2px solid var(--accent-color);
}
.film-rating {
  display: inline-block;
  width: 36px;
  height: 16px;
  padding: auto;
  text-align: center;

  border: 1px solid var(--accent-color);
  background: var(--background-accent-color);
  border-radius: 5px;
  color: var(--accent-text-color);
}

// mob adaptive
@media screen and (max-width: 767px) {
  .photo-card {
    width: 280px;
    height: 443px;
  }

  .photo-card__link {
    margin-bottom: 10px;
  }

  .photo-card-img {
    height: 402px;
  }

  .card-info {
    @include font(500, 12, 14);
  }
  .film-rating {
    right: 66%;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .photo-card {
    width: 336px;
    height: 494px;
  }
  .photo-card__link {
    margin-bottom: 8px;
  }
  .photo-card-img {
    height: 455px;
  }
  .card-info {
    @include font(500, 12, 16);
  }
  .film-rating {
    top: 20px;
    right: 86%;
  }
}

// desktop

@media screen and (min-width: 1280px) {
  .photo-card {
    width: 395px;
    height: 634px;
  }

  .photo-card__link {
    margin-bottom: 12px;
  }

  .photo-card-img {
    height: 574px;
  }

  .card-info {
    @include font(500, 20, 24);
  }
  .film-rating {
    top: 32px;
    right: 37%;
    width: 40px;
    height: 20px;
    padding-top: 3px;
  }
}
