.film-grid {
  display: grid;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  grid-template-columns: auto;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .film-grid {
    grid-template-columns: auto auto;
    gap: 32px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .film-grid {
    grid-template-columns: auto auto auto;
    gap: 32px 16px;
  }
}