body {
 // position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
 //margin-top: auto;

  background-color: var(--background-color_bright-theme);
  padding-top: 28px;
  padding-bottom: 28px;

  //tablet

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  //desktop
  @media screen and (min-width: 1280px) {
    padding-bottom: 28px;
  }
}

.container_footer {
  //tablet
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.footer-text {
  @include font(400, 14, 16);
  font-family: 'Roboto';
  //font-weight: 400;
  //font-size: 14px;
  line-height: calc(16 / 14);
  color: #545454;
  text-align: center;


  // tablet
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(16 / 18);
  }
}

.footer-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 41);
  color: #545454;


  //tablet
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(16 / 18);
  }
}
.footer-icon {
 width: 16px;
  height: 16px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}